
.background{max-width: 100%;
margin: 40px;
}

.logo{display: flex;
    margin: 2px;
    background: rgb(153, 153, 153);
}

.space{display: flex;
    width: 100vw;
}

.navigation{
    display: flex;
    justify-content: center;
    margin: 2px;
    height: 2in;
    background: rgb(153, 153, 153);
}

.header{display: flex;
    justify-content: center;
    margin: 2px;
    height: 1in;
    background: rgb(153, 153, 153);}

.flex{display: flex;
justify-content: center;}



.body{display: flex;
    justify-content: center;
    margin: 2px;
    background: rgb(153, 153, 153);
    height: 7.5in;
    width: 100vw;}

.footer{display: flex;
    justify-content: center;
    margin: 2px;
    background: rgb(153, 153, 153);}

.no{ display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 20px;}

.no1{ display: flex;
        text-align: center;
        justify-content: center;
        padding-right: 20px;}

.noo{ display: flex;
    text-align: center;
    justify-content: center;}

.nooo{ display: flex;
    text-align: center;
    justify-content: center;}

.noooo{ justify-content: end;}